@page "/category/list"

<div class="container">
    <a href="category/create" class="link-light text-decoration-none bg-primary p-2 rounded">Crear Categoria Nueva</a>
</div>

<br />

<div class="mt-3">
    <ListCategoryComponent />
</div>

@code {

}
