@using Entities;
@using Business;
@rendermode InteractiveServer
@inject NavigationManager NavManager;

<div class="container">
    <EditForm Model="oCategory" OnValidSubmit="@SaveCategory">
        <div class="form-group">
            <label class="my-2" for="categoryId">Referencia:</label>
            <InputText @bind-Value="oCategory.CategoryId" id="categoryId" class="form-control"/>
        </div>
        <div>
            <label class="my-2" for="categoryName">Nombre de la categoria:</label>
            <InputText @bind-Value="oCategory.CategoryName" id="categoryName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success mt-2">Guardar Categoria</button>
    </EditForm>
</div>


@code {
    private CategoryEntity oCategory = new();

    protected async Task SaveCategory()
    {
        await B_Category.CreateCategory(oCategory);
        NavManager.NavigateTo("category/list");
    }
}
